/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

body{
  word-wrap: break-word;
  max-width: 1080px;
  margin: 0 auto;
}

 img {
   max-width: 100%;
 }


 .logo{
  width: 140px;
  text-align: center;
  background-color: #333;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
 }

 .logo a{
  color: #fff;
  text-decoration: none;

 }

#menu{

}

#menu #nav{

 } 
 
#menu #nav li {
  list-style: none;
  width: 140px;
  text-align: center;
  background-color: #333;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
  margin-bottom: 10px;

}
 
#menu #nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

#footer{
  background-color: #333;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 13px;
  margin-top: 20px;
}

#footer p{
  margin: 0;
}

.toast{
  margin: 10px 0;
  text-align: center;
}

.toast .notice{
background-color: #49ac49;
color: white;
padding: 10px;
}

.toast .aleat{
  background-color: red;
  color: white;
  padding: 10px;
}

.content-wrapper{
  display: flex;
  justify-content: space-between;
.content-block{
    border: 2px solid #000;
    padding: 20px;
    width: 60%;

   .content{
    border: 2px solid #000;
    padding: 15px;
    margin-bottom: 10px;
     .user-about{
      display: flex;

      .image{ 
         width: 10%; 
      }
      .video{
        width: 10%;
      }

    
    .profile{
      margin-left: 10px;
      
      .name-history{
        margin-bottom: 3px;
          display: flex;
          width: 100%;
          .name{ 
            font-weight: bold;
           }
         
            .mania-histry{
             margin-left: 20px;            
            }
         }
 
      .enjoy-point{
          width: 100%;
          font-size: 13px;
      }
    }
     
    }     
}
}
  .sidebar{
   width: 20%;
   border: 2px solid #000;
   padding: 20px;
}

}
 
