// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#movies-new,#movies-index{
    .content-wrapper{
        display: flex;
        justify-content: space-between;
      .content-block{
          border: 2px solid #000;
          padding: 20px;
          width: 60%;
      
         .content{
          border: 2px solid #000;
          padding: 15px;
          margin-bottom: 10px;
           .user-about{
            display: flex;
      
 
          .profile{
            margin-left: 10px;
            
            .name-history{
              margin-bottom: 3px;
                display: flex;
                width: 100%;
                .name{ 
                  font-weight: bold;
                 }
               
                  .mania-histry{
                   margin-left: 20px;            
                  }
               }
       
            .enjoy-point{
                width: 100%;
                font-size: 13px;
            }
          }
           
          }     
      }
      }
        .sidebar{
         width: 20%;
         border: 2px solid #000;
         padding: 20px;
      }
      .box{
          width: 100px;
          height: 100px;
          background-color: #000;
          margin: 10px auto;
      }
    }
}

video{
  max-width: 100%;
}
