#registrations-new, #sessions-new, #registrations-create,#passwords-new, #registrations-edit, #registrations-update{
    h2{
        text-align: center;
    }
    input[type='email'],input[type='password'],input[type='number'], input[type= 'text']{
        width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
    }

    .field{
        margin: 10px 0;
    }
    .actions{
        margin: 15px auto;
        width: 150px;
       
            .button{
                display       : inline-block;
                border-radius : 5%;          /* 角丸       */
                font-size     : 18pt;        /* 文字サイズ */
                text-align    : center;      /* 文字位置   */
                cursor        : pointer;     /* カーソル   */
                padding       : 12px 12px;   /* 余白       */
                background    : #333;     /* 背景色     */
                color         : #ffffff;     /* 文字色     */
                line-height   : 1em;         /* 1行の高さ  */
                transition    : .3s;         /* なめらか変化 */
                box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
                border        : 2px solid #333;    /* 枠の指定 */
              }
              .button:hover {
                box-shadow    : none;        /* カーソル時の影消去 */
                color         : #333;     /* 背景色     */
                background    : #ffffff;     /* 文字色     */
              }
        
    }
}

#profiles-new,#profiles-create, #profiles-edit{
    form{
        .fi{
            margin: 10px 0;
            label{
                margin-bottom: 5px;
                display: block;
            }
            input[type = 'text'],input[type = 'number']{
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }    
        }
       
        .submit-block{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0;
            .button {
                display       : inline-block;
                border-radius : 5%;          /* 角丸       */
                font-size     : 18pt;        /* 文字サイズ */
                text-align    : center;      /* 文字位置   */
                cursor        : pointer;     /* カーソル   */
                padding       : 12px 12px;   /* 余白       */
                background    : #333;     /* 背景色     */
                color         : #ffffff;     /* 文字色     */
                line-height   : 1em;         /* 1行の高さ  */
                transition    : .3s;         /* なめらか変化 */
                box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
                border        : 2px solid #333;    /* 枠の指定 */
              }
              .button:hover {
                box-shadow    : none;        /* カーソル時の影消去 */
                color         : #333;     /* 背景色     */
                background    : #ffffff;     /* 文字色     */
              }
        }
    
    }
}

#users-show{
    .content{
        border: 2px solid #000;
        padding: 15px;
        margin-bottom: 10px;
         .user-about{
          display: flex;
          .image{ 
             width: 10%; 
        }
        
        .profile{
          margin-left: 10px;
          
          .name-history{
            margin-bottom: 3px;
              display: flex;
              width: 100%;
              .name{ 
                font-weight: bold;
               }
             
                .mania-histry{
                 margin-left: 20px;            
                }
             }
     
          .enjoy-point{
              width: 100%;
              font-size: 13px;
          }
        }
}

}
.tabBox {
    display: block;
    max-width: 100%;
    margin: 30px auto;
}
.tabBox .tabList {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tab {
    display: block;
    width: 32%;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
.tab label {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
.tabRadio {
    display: none;
}
label:hover {
    cursor: pointer;
    opacity: 0.8;
}
.tabRadio:checked + label {
    line-height: 1.8;
    background-color: #000;
    font-weight: bold;
}
.tabContentList {
    display: block;
}
.tabContentList .tabContent {
    display: none;
    font-size: 14px;
    line-height: 1.4;

}
#tab_1:checked ~ .tabContentList #content_1,
#tab_2:checked ~ .tabContentList #content_2,
#tab_3:checked ~ .tabContentList #content_3{
    display:block;
}
#tab_1:checked ~ .tabList .tab #tab_label_1,
#tab_2:checked ~ .tabList .tab #tab_label_2,
#tab_3:checked ~ .tabList .tab #tab_label_3{
    line-height: 1.8;
    background-color: #333;
    font-weight: bold;
}
#tab_1:checked ~ .tabList .tab #tab_label_1:hover,
#tab_2:checked ~ .tabList .tab #tab_label_2:hover,
#tab_3:checked ~ .tabList .tab #tab_label_3:hover{
    cursor: auto;
    opacity: 1;
}
}


